@model CarDealership.Models.Classes.VehicleVM
@{
    ViewBag.Title = "DeleteVehicle";
}

<style>
    .longbox {
        margin: 5%;
        width: 95%;
        border: 2px solid black;
    }
</style>

<h2>Delete Vehicle</h2>

<p>Are you sure you want to delete this vehicle?</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Vehicle.VehicleId)
    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
    @Html.ActionLink("Cancel", "Vehicles", "Admin");
}

<div class="row longbox">
    <div class="col-md-3">
        <p> @Model.Model.ModelYear </p>
        <img src="@Model.Vehicle.Picture" style="height: 200px; width: 250px;">
    </div>
    <div class="col-md-3">
        <b>Body Style:</b> @Model.BodyStyle.BodyStyleName
        <br />
        <b>     Trans:</b> @Model.Vehicle.Transmission
        <br />
        <b>     Color:</b> @Model.Color.ColorName
    </div>
    <div class="col-md-3">
        <b>Interior:</b> @Model.Interior.InteriorName
        <br />
        <b> Mileage:</b> @Model.Vehicle.Mileage
        <br />
        <b>   VIN #:</b> @Model.Vehicle.VIN
    </div>
    <div class="col-md-3">
        <b>Sale Price:</b> @Model.Vehicle.Price
        <br />
        <b> MSRP:</b> @Model.Vehicle.MSRP
        <br />
    </div>
</div>