@model CarDealership.Models.Classes.View_Model_Classes.ModelVM
@{
    ViewBag.Title = "Models";
}

<style>

    table {
        border: 2px solid black;
        border-collapse: collapse;
        text-align: center;
    }

    tbody th {
        background-color: #90c0ff;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }

    tbody td {
        border-left: 2px solid black;
        border-right: 2px solid black;
    }

    tbody tr:nth-child(even) {
        background-color: #e6f5ff;
    }

    tbody tr:nth-child(odd) {
        background-color: #ccebff;
    }
</style>

<h2>Models</h2>

@using (Html.BeginForm())
{
<div class="row">
    @Html.HiddenFor(m => m.Model.UserId, User.Identity.Name)
    Name
    @Html.TextBoxFor(m => m.Model.ModelName, new { @class = "form-control" })
    Year
    @Html.TextBoxFor(m => m.Model.ModelYear, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Model.ModelYear)
    Make
    @Html.DropDownListFor(x => x.Model.MakeId, Model.MakeList, "-Choose One-", new { @class = "form-control" })
    <button class="btn badge-primary">Save</button>
</div>
}
<table>
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Date Added</th>
        <th>User</th>
    </tr>

    @foreach (var item in Model.MakeModelList)
    {
        <tr>
            <td>@item.Make.MakeName</td>
            <td>@item.Model.ModelName</td>
            <td>@item.Model.DateCreated</td>
            <td>@item.Model.UserId</td>
        </tr>
    }


</table>